:root {
    --primary-color: #0A1128;
    --secundary-color: crimson;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    padding-top: 0;
    padding-bottom: 0;
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    margin-left: 50%;
    max-width: 50%;
    height: auto;
}

.top3-content {
    text-align: center;
    max-width: 70rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}